<div class="w-60 bg-white shadow-lg h-screen fixed left-0 top-0 flex flex-col p-6">
  <h2 class="text-5xl font-black mb-6 text-gray-700 justify-center text-center">UMS</h2>

  <nav class="flex flex-col space-y-3 cursor-pointer">
    <button  routerLink="/users/dashboard" routerLinkActive="active"
      class="flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 rounded-lg transition">
      Dashboard
    </button>

    <button  routerLink="/users/projects" routerLinkActive="active"
      class="flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 rounded-lg transition">
      Projects
    </button>

    <button routerLink="/messages" routerLinkActive="active"
      class="flex items-center px-4 py-3 text-gray-700 hover:bg-gray-100 rounded-lg transition">
      Messages
    </button>
  </nav>
</div>
